{% extends '@AteszworksAdmin/common/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/edit_menu.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block headerstack %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
                            <h3 class="m-portlet__head-text">
                                {{ "menu.edit_menu"|trans }}
                            </h3>
                        </div>
                    </div>
                </div>
                <form action="{{ path('ateszworks_admin_menu_edit', {'resource_id': menu ? menu.getId : 'add'}) }}"
                      method="post" class="m-form">
                    <div class="m-portlet__body">
                        {% if errors is defined and errors|length > 0 %}
                            <div class="alert alert-danger">
                                <strong>{{ "error"|trans }}!</strong>
                                <ul>
                                    {% for error in errors %}
                                        <li>{{ error.message|trans({'%unprovidedValuePlaceholder%': unprovidedValuePlaceholder}) }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <!--begin::Section-->
                        <div class="m-section m-form__section--first">
                            <h3 class="m-section__heading">
                                {{ "menu.menu_title"|trans }}
                            </h3>
                            <span class="m-section__sub">
								{{ "menu.menu_info_text"|trans }}
							</span>
                            <div class="m-section__content">
                                {% for lang in languages %}
                                    {% set langName = lang.getTranslationForLanguage(currentLanguage) ? lang.getTranslationForLanguage(currentLanguage).getLangName : '?nyelv' %}
                                    {% set translation = menu ?
                                        (menu.getTranslationForLanguage(lang) ? menu.getTranslationForLanguage(lang).getTitle: unprovidedValuePlaceholder)
                                        : unprovidedValuePlaceholder %}
                                    {% set inputValue = app.request.get('titles') ?
                                        (app.request.get('titles')[lang.getCode] ? app.request.get('titles')[lang.getCode] : translation) : translation %}
                                    <div class="form-group m-form__group">
                                        <label for="div_{{ loop.index }}">
                                            {{ langName }}:
                                        </label>
                                        <input type="text" name="titles[{{ lang.getCode }}]"
                                               class="form-control m-input"
                                               placeholder="Adja meg a címet {{ langName }} nyelven"
                                               id="div_{{ loop.index }}" value="{{ inputValue }}">
                                        <span class="m-form__help">Adja meg a címet {{ langName }} nyelven</span>
                                    </div>
                                {% endfor %}

                                <div class="form-group m-form__group">
                                    <label class="" for="mask_number">{{ "menu.weight"|trans }}</label>
                                    <input class="form-control" id="mask_number" name="weight" type="text"
                                           maxlength="2" max="99" min="1" placeholder="0"
                                            {% set displayWeight = app.request.get('weight')
                                                ? app.request.get('weight') : (menu? menu.weight : '0') %}
                                           value="{{ displayWeight }}">
                                    <span class="m-form__help">{{ "menu.value_should_be_between"|trans }}</span>
                                </div>

                                <div class="form-group m-form__group">
                                    {{ "menu.pointed_content_type"|trans }}

                                    <div class="aw-checkbox-wrapper">
                                        <div class="box-wrapper">
                                            <label class="switch default-forced-label">
                                                <input type="checkbox" id="pointed_type_switcher"
                                                       name="pointed-type-switch" value="resource"
                                                        {% set targetIdentifier = menu ? menu.targetIdentifier : null %}
                                                        {{ targetIdentifier ? 'checked' : '' }}>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="text-wrapper">
                                            <span class="switch-text-url">{{ "menu.target_switch_url"|trans }}</span>
                                            <span class="switch-text-resource">{{ "menu.target_switch_resource"|trans }}</span>
                                        </div>
                                        <span class="magic-stick"></span>
                                    </div>
                                </div>

                                <div class="form-group m-form__group menu-form-url-target-group">
                                    <label class="" for="target_url">{{ "menu.target_url"|trans }} {{ "menu.available_routes"|trans }}: [homepage, list_page, contact_page, gallery_list]</label>
                                    <input class="form-control" id="target_url" name="target_url" type="text"
                                           placeholder="http://pelda.com"
                                           {% set menuTarget = menu ? menu.target : null %}
                                           value="{{ targetIdentifier ? '' : menuTarget ? menuTarget : '' }}"
                                           autocomplete="off">
                                    <span class="m-form__help">{{ "menu.target_url_description"|trans }}</span>
                                </div>

                                <div class="form-group m-form__group menu-form-resource-target-group">
                                    <label class=""
                                           for="target_resource-selector">{{ "menu.target_resource"|trans }}</label>
                                    <input class="form-control" id="target_resource-selector" name="_" type="text"
                                           placeholder="{{ "menu.start_typing"|trans }}" value="" autocomplete="off">
                                    <input type="hidden" id="target_resource_type" name="target_resource_type"
                                           value="{{ menuTarget }}">
                                    <input type="hidden" id="target_resource_id" name="target_resource_id"
                                           value="{{ targetIdentifier }}">
                                    <span class="m-form__help">{{ "menu.target_resource_description"|trans }}</span>
                                    <div class="results">
                                        <h4 class="block">{{ "menu.target_resources_results"|trans }}</h4>
                                        <ul id="target_resource-values"></ul>
                                        <p id="target_resource-hidden_text" class="hidden">{{ "admin.menu.no_results"|trans }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Section-->
                        <!--begin::Section-->
                        <div class="m-section" style="margin-bottom: 0;">
                            <button type="submit" class="btn m-btn--pill btn-success">
                                {{ "general.button.save"|trans }}
                            </button>
                        </div>
                        <!--end::Section-->
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% embed '@AteszworksAdmin/components/404modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/error_modal.html.twig' %}{% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>var _ajaxUrl = "{{ url('ateszworks_admin_get_pointable_resources', {'name_fraction': 'name_fraction'}) }}";</script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/basic-ajax-error-handlers.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/menu-helper.js') }}"></script>
{% endblock %}
