{% extends '@AteszworksAdmin/common/layout.html.twig' %}

{% block headerstack %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/listpages.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block content %}
    {% block flashHandling %}
        {{ parent() }}
    {% endblock %}

    {% embed '@AteszworksAdmin/components/datatable.html.twig' with {
        'title': 'list.menu.title'|trans,
        'newIcon': 'la-plus',
        'newElementButtonText': 'list.menu.new'|trans,
        'newElementPath': path('ateszworks_admin_menu_edit', {'resource_id': 'add'})
    } %}
        {% block datatableSearch %}{% endblock %}
        {% block headertags %}
            {% if menus|length > 0 %}
                <th data-field="MenuID"
                    class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">#
                </th>
                <th data-field="Name" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ 'list.menu.name'|trans }}</span></th>
                <th data-field="Weight" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ 'list.menu.weight'|trans }}</span></th>
                <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ 'list.menu.actions'|trans }}</span></th>
            {% endif %}
        {% endblock %}

        {% block rows %}
            {% if menus|length <1 %}
                <tr class="m-datatable__row">
                    <td colspan="4">
                        <div class="alert alert-info">
                            <strong>{{ 'general.no_content'|trans }}</strong> {{ 'general.no_displayable_content'|trans }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for menu in menus %}
                {# todo: kezdeni vmit ezzel a display table félrehasnzálattal, meg a nevetséges span width-kkel #}
                <tr data-row="{{ loop.index }}" class="m-datatable__row" style="left: 0px;">
                    <td data-field="MenuID"
                        class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">{{ menu.id }}</td>
                    <td data-field="Name" class="m-datatable__cell"><span
                                style="width: 110px;">{{ menu.translations.first ? menu.translations.first.title : '-' }}</span>
                    </td>
                    <td data-field="Weight" class="m-datatable__cell"><span
                                style="width: 110px;">{{ menu.weight }}</span></td>
                    <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">
                            <a href="{{ path('ateszworks_admin_menu_edit', {'resource_id': menu.id}) }}"
                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                               title="{{ 'list.menu.edit'|trans }}"><i class="la la-edit"></i>
                            </a>
                            <a href="{{ path('ateszworks_admin_menu_remove', {'resource_id': menu.id}) }}"
                               data-resource-id="{{ menu.id }}" data-toggle="modal"
                               data-target="#remove-confirmation"
                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill aw-remove-button"
                               title="{{ 'list.menu.remove'|trans }}"><i class="la la-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block datatablesAdditional %}
            {% embed '@AteszworksAdmin/components/removeConfirmationModal.html.twig' %}{% endembed %}
            {% embed '@AteszworksAdmin/components/404modal.html.twig' %}{% endembed %}
            {% embed '@AteszworksAdmin/components/error_modal.html.twig' %}{% endembed %}
            {% embed '@AteszworksAdmin/components/success_modal.html.twig' %}{% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var removeRoute = "{{ url('ateszworks_admin_menu_remove', {'resource_id': 'replace_me'}) }}";
    </script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/RemoveHandler.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/aw_databale_remove_helper.js') }}"></script>
{% endblock %}