{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('main/css/contact.css') }}" rel="stylesheet">
{% endblock %}

{% block main_wrap %}
    <main class="main-wrap">

        <div class="breadcrumb-container wow slideInDown" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ 'general.home_page'|trans }}</a></li>
                    <li class="active">{{ 'general.contacts'|trans }}</li>
                </ol>
            </div>
        </div>
        <!-- /.breadcrumb-container -->

        <header class="page-header wow slideInLeft" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <h1>{{ 'general.contact_us'|trans }}</h1>
            </div>
        </header>
        <!-- /.page-header -->


        <div class="page-section">
            <div class="container">
                <div class="contact-info">
                    <article class="contact-detail wow slideInDown">
                        <header class="pg-contact-header">
                            <h4 class="pg-contact-title">{{ 'contact_page.postal_address'|trans }}</h4> {# nyeh #}
                        </header>
                        <div class="contact-detail-body">
                            <address>
                                {#<strong>{{ 'contact_page.postal_address'|trans }}</strong>#}
                                <strong class="icon-fa icon-map-marker">{{ 'homepage.csaladvar'|trans }}</strong>
                                4326 Máriapócs<br>Kossuth tér 17.<br>
                                <strong class="icon-fa icon-map-marker">{{ 'homepage.zarandokhaz'|trans }}</strong>
                                4326 Máriapócs<br>Kossuth tér 17.<br>
                                <strong class="icon-fa icon-map-marker">{{ 'homepage.zarandokkozpont'|trans }}</strong>
                                4326 Máriapócs<br>Kossuth tér 17.<br>
                                <strong class="icon-fa icon-map-marker">{{ 'homepage.kegytemplom'|trans }}</strong>
                                4326 Máriapócs<br>Kossuth tér 25.<br>
                            </address>
                        </div>
                    </article>
                    <article class="contact-detail wow slideInDown">
                        <header class="pg-contact-header">
                            <h4 class="pg-contact-title">{{ 'contact_page.other_contacts'|trans }}</h4>
                        </header>
                        <div class="iconic-contact-detail">
                            <address>
                                <span class="icon-typcn icon-typcn-phone">+36 42 585 020</span>
                                <span class="icon-typcn icon-typcn-at">pocsizarandokhaz@gmail.com</span>
                            </address>
                            <address>
                                <span class="icon-typcn icon-typcn-phone">+36 42 385 142</span>
                                <span class="icon-typcn icon-typcn-at">pocskegyhely@gmail.com</span>
                            </address>
                        </div>
                    </article>
                    <ul class="list-inline pg-soicial-list wow slideInUp" data-wow-delay="0.2s"
                        data-wow-duration="0.5s">
                        <li>
                            <a href="https://www.facebook.com/mariapocsnemzetikegyhely/" target="_blank"><span
                                        class="typcn typcn-social-facebook-circular hover"></span></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/mariapocsnemzetikegyhely/" target="_blank"><span
                                        class="typcn typcn-social-instagram-circular hover"></span></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/hahota87/" target="_blank"><span
                                        class="typcn typcn-social-youtube-circular hover"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="contact-page-map">
            <div id="map-canvas" class="iframe-map"></div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('main/js/contacts.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLv65iXMV1pNkj6JuNVO6I06yN8xel-yQ&callback=initMap"
            async defer></script>
{% endblock %}