{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('lightbox/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('main/css/gallery.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('main/js/async-img-helper.js') }}"></script>
    <script src="{{ asset('main/js/gallery.js') }}"></script>
{% endblock %}

{% block main_wrap %}
    <main class="main-wrap">

        <div class="breadcrumb-container wow slideInDown" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ 'general.home_page'|trans }}</a></li>
                    <li class="active">{{ translation.title }}</li>
                </ol>
            </div>
        </div>
        <!-- /.breadcrumb-container -->

        <header class="page-header wow slideInLeft" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <h1>{{ translation.title ?? 'Galéria' }}</h1>
                <div>
                    <div class="fb-like" data-href="{{ shareUrl }}"
                         data-layout="button_count" data-action="like" data-size="large" data-show-faces="false"
                         data-share="true"></div>
                </div>
            </div>
        </header>
        <!-- /.page-header -->

        <div class="page-section">
            <div class="container isotope-elements">
                <div class="row isotope-grid causes-grid">

                    {% if images|length > 0 %}
                        {% for image in images %}
                            <div class="item col-md-4 col-sm-6 column donate charity adopting wow slideInUp">
                                <div class="thumbnail cause-thumbnail">
                                    <div class="thumbnail-img">
                                        <img class="preloading" src="" data-small-src="{{ image.smallUrl }}"
                                             data-big-src="{{ image.url }}">
                                        <div class="img-cover thumbnail-cover"></div>
                                        <div class="cause-donate-btn absolute-center-btn">
                                            <a href="{{ image.url }}" type="button" class="btn-pure"
                                               data-lightbox="pack"><i
                                                        class="fa fa-database btn-icon"></i>
                                                {{ 'general.view'|trans }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-4 col-sm-6">
                            <h1>{{ 'general.no_content'|trans }}</h1>
                        </div>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- /.isotope-elements -->

    </main>
{% endblock %}