{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('main/css/galleries.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('main/js/gallery.js') }}"></script>
{% endblock %}

{% block main_wrap %}
    <main class="main-wrap">

        <div class="breadcrumb-container wow slideInDown" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ "general.home"|trans }}</a></li>
                    <li class="active">{{ "gallery.list.galleries"|trans }}</li>
                </ol>
            </div>
        </div>

        <header class="page-header wow slideInLeft" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <h1>{{ "gallery.list.galleries_title"|trans }}</h1>
            </div>
        </header>

        <div class="page-section">
            <div class="container">
                <div class="row">

                    {% if galleries|length > 0 %}
                        {% for gallery in galleries %}
                            <div class="col-md-6 cards-col">
                                <div class="card-item wow slideInUp">
                                    <div class="card">
                                        <div class="meta-data card-meta-top">
                                            <div class="meta-left">
                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-calendar meta-icon"></i> {{ gallery.published ?? gallery.created }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title"><a
                                                        href="{{ path('gallery', {'url_slug': gallery.urlSlug}) }}">{{ gallery.title }}</a>
                                            </h4>
                                        </div>
                                        <div class="card-media">
                                            {% if gallery.coverImage is not null %}
                                                <div class="media-thumbnail">
                                                    <img src="{{ gallery.smallCoverImage }}" alt="{{ gallery.title }}"
                                                         class="preloading" data-big-url="{{ gallery.coverImage }}">
                                                    <div class="card-view-deatil-btn">
                                                        <a href="{{ path('gallery', {'url_slug': gallery.urlSlug}) }}"
                                                           type="button" class="btn-pure"><i
                                                                    class="fa fa-search btn-icon"></i> {{ 'gallery.list.view_detail'|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-item -->
                            </div>
                        {% endfor %}
                        <!-- /.cards-col -->

                    {% else %}
                        <h2>{{ 'general.no_content'|trans }}</h2>
                    {% endif %}

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- /.page-section -->

    </main>
{% endblock %}