{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('main/css/home-custom.css') }}" rel="stylesheet">
{% endblock %}

{% block actual_section_content %}
    <div class="row">
        <div class="col-md-12 column">
            {% if latestArticle %}
                <article class="blog-post">
                    <div class="row">
                        <div class="col-md-6 column wow slideInLeft">
                            {% set hasCoverImage = latestArticle.smallCoverImage is not null %}
                            {% set smallImgUrl = latestArticle.smallCoverImage
                                ?? asset('images/templom.jpg') %}
                            <div class="post-media {{ hasCoverImage ? 'blur' : '' }}" id="todays-article"
                                 data-big-img="{{ latestArticle.coverImage }}"
                                 style="background-image:url('{{ smallImgUrl }}');">
                            </div>
                        </div>
                        <div class="col-md-6 column wow slideInRight">
                            <header class="post-header">
                                <h4 class="post-type">{{ "homepage.latest_article"|trans }}</h4>
                                <h2 class="post-title"><a href="{{ latestArticleLink }}">{{ latestArticle.title }}</a>
                                </h2>
                            </header>
                            <div class="post-content">
                                <p>{{ latestArticle.getContents }}</p>
                            </div>
                            <footer class="post-footer">
                                <a href="{{ latestArticleLink }}" class="btn-pure f-left"><i
                                            class="fa fa-align-justify btn-icon"></i>
                                    {{ "homepage.show_full_article"|trans }}</a>
                                <div class="clearfix"></div>
                            </footer>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      var previousHandler = window.onload;
      window.onload = function loadThings() {
        previousHandler();
        var todaysArticle = document.getElementById('todays-article');
        var fullImageUrl = todaysArticle.getAttribute('data-big-img');

        // Quit early if older browser (e.g. IE 8).
        if (!('addEventListener' in window)) {
          todaysArticle.setAttribute('style', "background-image: url('" + fullImageUrl + "');");
          todaysArticle.className = todaysArticle.className.replace('blur', '');
          return;
        }

        var img = new Image();

        img.onload = function () {
          todaysArticle.setAttribute('style', "background-image: url('" + fullImageUrl + "');");
          todaysArticle.className += ' un-blur';
        };

        img.src = fullImageUrl;
      };
    </script>
{% endblock %}