{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('main/css/article-list.css') }}" rel="stylesheet">
{% endblock %}

{% block main_wrap %}
    <main class="main-wrap">

        <div class="breadcrumb-container wow slideInDown" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ "general.home"|trans }}</a></li>
                    <li class="active">{{ "general.articles"|trans }}</li>
                </ol>
            </div>
        </div>
        <!-- /.breadcrumb-container -->
        <header class="page-header wow slideInLeft" data-wow-delay="0.2s" data-wow-duration="1s">
            <div class="container">
                <h1>{{ "general.our_news"|trans }}</h1>
                {% if articles.left|length == 0 and articles.right|length == 0 %}
                    <h2>{{ "general.no_content"|trans }}</h2>
                {% endif %}
            </div>
        </header>

        <div class="page-section">
            <div class="container">
                <div class="row">
                    {% if articles.left|length > 0 or articles.right|length > 0 %}
                        <div class="col-md-6 cards-col">

                            {% for card in articles.left %}
                                <div class="card-item wow slideInUp">
                                    <div class="card">
                                        <div class="meta-data card-meta-top">
                                            <div class="meta-left">
                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-calendar meta-icon"></i> {{ card.published ?? card.created }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="meta-right">
                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-pencil meta-icon"></i> {{ card.author }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title"><a href="{{ card.url }}">{{ card.title }}</a></h4>
                                        </div>
                                        {% if card.coverImage|length > 0 %}
                                            <div class="card-media">
                                                <div class="media-thumbnail cover-bg"
                                                     style="background-image: url('{{ card.smallCoverImage }}');">
                                                    <img src="{{ card.smallCoverImage }}" alt="{{ card.title }}"
                                                         class="blur" data-big-url="{{ card.coverImage }}">
                                                    <div class="card-view-deatil-btn">
                                                        <a href="{{ card.url }}" type="button" class="btn-pure"><i
                                                                    class="fa fa-search btn-icon"></i> {{ "general.view_article"|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="card-block">
                                            <p class="card-text">{{ card.introText|raw }}</p>
                                        </div>
                                        <div class="meta-data meta-data-footer">
                                            <div class="meta-left">
                                                <ul class="list-inline">
                                                    <li>
                                                        {#<a href="#"><i class="fa fa-comments meta-icon"></i> 117</a>#}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-item -->
                            {% endfor %}

                        </div>
                        <!-- /.cards-col -->

                        <div class="col-md-6 cards-col">
                            {% for card in articles.right %}
                                <div class="card-item wow slideInUp">
                                    <div class="card">
                                        <div class="meta-data card-meta-top">
                                            <div class="meta-left">
                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-calendar meta-icon"></i> {{ card.published ?? card.created }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="meta-right">
                                                <ul class="list-inline">
                                                    <li>
                                                        <i class="fa fa-pencil meta-icon"></i> {{ card.author }}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title"><a href="{{ card.url }}">{{ card.title }}</a></h4>
                                        </div>
                                        {% if card.coverImage|length > 0 %}
                                            <div class="card-media">
                                                <div class="media-thumbnail cover-bg"
                                                     style="background-image: url('{{ card.smallCoverImage }}');">
                                                    <img src="{{ card.smallCoverImage }}" alt="{{ card.title }}"
                                                         class="blur" data-big-url="{{ card.coverImage }}">
                                                    <div class="card-view-deatil-btn">
                                                        <a href="{{ card.url }}" type="button" class="btn-pure"><i
                                                                    class="fa fa-search btn-icon"></i> {{ "general.view_article"|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="card-block">
                                            <p class="card-text">{{ card.introText|raw }}</p>
                                        </div>
                                        <div class="meta-data meta-data-footer">
                                            <div class="meta-left">
                                                <ul class="list-inline">
                                                    <li>
                                                        {#<a href="#"><i class="fa fa-comments meta-icon"></i> 117</a>#}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-item -->
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.page-section -->

        {#<div class="page-section">#}
        {#<div class="container">#}
        {#<div class="module-pagination pagination-pager wow flipInX" data-wow-delay="0.2s" data-wow-duration="1s">#}
        {#<nav class="pagination-nav">#}
        {#<ul class="pagination list-unstyled">#}
        {#<li><a href="#">1</a></li>#}
        {#<li><a href="#">2</a></li>#}
        {#<li><a href="#">3</a></li>#}
        {#<li><a href="#">4</a></li>#}
        {#<li><a href="#">5</a></li>#}
        {#</ul>#}
        {#</nav>#}
        {#<nav class="pager-nav">#}
        {#<ul class="list-unstyled">#}
        {#<li class="pager-prev"><a href="#" class="btn-pure"><i class="fa fa-angle-left"></i> Previous</a></li>#}
        {#<li class="pager-next"><a href="#" class="btn-pure">Next <i class="fa fa-angle-right"></i></a></li>#}
        {#</ul>#}
        {#</nav>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}

    </main>
{% endblock %}