{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('lightbox/css/lightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('main/css/typographic.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('main/js/typographic.js') }}"></script>
{% endblock %}

{% block main_wrap %}
    <main class="main-wrap">

        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="active">{{ "general.home_page"|trans }}</li>
                    <li class="active">{{ "general.article"|trans }}</li>
                </ol>
            </div>
        </div>
        <!-- /.breadcrumb-container -->

        <header class="page-header">
            <div class="container">
                <h1>{{ article.title }}</h1>

                <div class="meta-data">
                    <div class="meta-left wow slideInLeft" data-wow-delay="0.2s" data-wow-duration="1s"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: slideInLeft;">
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-calendar meta-icon"></i> {{ article.published ?? article.created }}
                            </li>
                        </ul>
                    </div>
                    <div class="meta-right wow slideInRight" data-wow-delay="0.2s" data-wow-duration="1s"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: slideInRight;">
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-pencil meta-icon"></i> {{ article.author }}
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>

                {% if article.coverImage %}
                    <div class="cover-image" style="">
                        <img src="{{ article.smallCoverImage }}" alt="{{ article.title }}" class="blur"
                             data-big-url="{{ article.coverImage }}">
                    </div>
                {% endif %}
            </div>
        </header>

        <div class="page-section">
            <div class="container">
                <div class="article-about">
                    <div class="article-body">{{ article.contents|raw }}</div>
                    <div>
                        <div class="fb-like" data-href="{{ shareUrl }}"
                             data-layout="button_count" data-action="like" data-size="large" data-show-faces="false"
                             data-share="true"></div>
                    </div>
                </div>
                {% if article.images|length > 0 %}
                    <h2>{{ 'typographic.attached_images'|trans }}:</h2>
                    <div class="image-container">
                        {% for image in article.images %}
                            <a href="{{ image.url }}" target="_blank" data-lightbox="pack">
                                <img src="" data-big-src="{{ image.url }}" class="loading"
                                     data-small-src="{{ image.smallUrl }}">
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- /.page-section -->

    </main>
{% endblock %}