{% extends '@AteszworksAdmin/common/layout.html.twig' %}

{% block headerstack %}{% endblock %}

{% block content %}
    {% block flashHandling %}
        {{ parent() }}
    {% endblock %}

    {% embed '@AteszworksAdmin/components/datatable.html.twig' with {
        'title': 'Datatable title',
        'newIcon': 'la-plus',
        'newElementButtonText': 'New content',
        'newElementPath': path('ateszworks_admin_open')
    } %}
        {% block datatableSearch %}{% endblock %}
        {% block headertags %}
            {% if articles|length > 0 %}
                <th data-field="MenuID"
                    class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">Dummy
                </th>
            {% endif %}
        {% endblock %}

        {% block rows %}
            {# No content template: #}
            <tr class="m-datatable__row">
                <td colspan="4">
                    <div class="alert alert-info">
                        <strong>{{ "general.no_content"|trans }}</strong> {{ "general.no_displayable_content"|trans }}
                    </div>
                </td>
            </tr>
            {# No content template end #}
            <tr data-row="{{ loop.index }}" class="m-datatable__row" style="left: 0px;">
                <td data-field="MenuID"
                    class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">DUMMY content
                </td>
            </tr>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/RemoveHandler.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/aw_databale_remove_helper.js') }}"></script>
{% endblock %}