{% use '@AteszworksAdmin/common/header-stack.html.twig' %}

{% block body %}
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        <header class="m-grid__item m-header " data-minimize-offset="200" data-minimize-mobile-offset="200">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand  m-brand--skin-dark ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo">
                                <a href="{{ path('ateszworks_admin_open') }}" class="m-brand__logo-wrapper">
                                    <img alt="Logo"
                                         src="{{ logoUrl is defined ?
                                         asset('bundles/ateszworksadmin/assets/' ~ logoUrl)
                                         : asset('bundles/ateszworksadmin/assets/demo/demo3/media/img/logo/logo.png') }}">
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                                <a href="javascript:;" id="m_aside_left_offcanvas_toggle"
                                   class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- END -->
                                <!-- BEGIN: Responsive Header Menu Toggler -->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                                   class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- END -->
                                <!-- BEGIN: Topbar Toggler -->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                                   class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>
                                <!-- BEGIN: Topbar Toggler -->
                            </div>
                        </div>
                    </div>
                    <!-- END: Brand -->
                    {% block headerstack %}{{ parent() }}{% endblock %}
                </div>
            </div>
        </header>
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn">
                <i class="la la-close"></i>
            </button>

            {% if is_granted('ROLE_ADMIN') %}
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
                <!-- BEGIN: Aside Menu -->
                <div
                        id="m_ver_menu"
                        class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown "
                        data-menu-vertical="true"
                        data-menu-dropdown="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500"
                >
                    {% set activeClass = 'm-menu__item--active' %}
                    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                        <li class="m-menu__item {{ 'homepage' in app.request.get('_route') ? activeClass : '' }}"
                            aria-haspopup="true">
                            <a href="{{ path('homepage') }}" target="_blank" class="m-menu__link ">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-tea-cup"></i>
                                <span class="m-menu__link-text">{{ "admin.menu.homepage"|trans }}</span>
                            </a>
                        </li>
                        <li class="m-menu__item {{ 'carousel' in app.request.get('_route') ? activeClass : '' }}"
                            aria-haspopup="true">
                            <a href="{{ path('ateszworks_admin_carousel') }}" class="m-menu__link ">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-add"></i>
                                <span class="m-menu__link-text">{{ "admin.menu.carousel"|trans }}</span>
                            </a>
                        </li>
                        <li class="m-menu__item {{ 'menu' in app.request.get('_route') ? activeClass : '' }}"
                            aria-haspopup="true">
                            <a href="{{ path('ateszworks_admin_menu') }}" class="m-menu__link ">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-menu"></i>
                                <span class="m-menu__link-text">{{ "admin.menu.menu"|trans }}</span>
                            </a>
                        </li>
                        <li class="m-menu__item {{ 'article' in app.request.get('_route') ? activeClass : '' }}"
                            aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="{{ path('ateszworks_admin_article') }}" class="m-menu__link">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-tabs"></i>
                                <span class="m-menu__link-text">{{ "admin.menu.article"|trans }}</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                        </li>
                        <li class="m-menu__item {{ 'gallery' in app.request.get('_route') ? activeClass : '' }}"
                            aria-haspopup="true"
                            data-menu-submenu-toggle="hover">
                            <a href="{{ path('ateszworks_admin_gallery') }}" class="m-menu__link">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-folder-2"></i>
                                <span class="m-menu__link-text">{{ "admin.menu.gallery"|trans }}</span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                        </li>
                        <li class="m-menu__item" aria-haspopup="true">
                            <a href="{{ path('ateszworks_admin_logout') }}" class="m-menu__link ">
                                <span class="m-menu__item-here"></span>
                                <i class="m-menu__link-icon flaticon-cancel"></i>
                                <span class="m-menu__link-text">{{ "general.logout"|trans }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {% endif %}
                <!-- END: Aside Menu -->
            </div>
            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <!-- BEGIN: Subheader -->
                <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="m-subheader__title ">
                                {{ actualPageTitle is defined ? actualPageTitle : '' }}
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- END: Subheader -->
                <div class="m-content">
                    {% block content %}
                        <h1>Should be overwritten.</h1>
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
							<span class="m-footer__copyright">
								2018 &copy; Máriapócs. Made with ❤️ by:
								<a href="#" class="m-link">
									atesztoth
								</a>
							</span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500"
         data-scroll-speed="300">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
    <!--begin::Base Scripts -->
    {% block javascripts %}
        <script src="{{ asset('bundles/ateszworksadmin/assets/vendors/base/vendors.bundle.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('bundles/ateszworksadmin/assets/demo/demo3/base/scripts.bundle.js') }}"
                type="text/javascript"></script>
        {#<script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>#}
        {#<script src="assets/demo/demo3/base/scripts.bundle.js" type="text/javascript"></script>#}
        <!--end::Base Scripts -->
        <!--begin::Page Vendors -->
        <script src="{{ asset('bundles/ateszworksadmin/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js') }}"
                type="text/javascript"></script>
        {#<script src="assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>#}
        <!--end::Page Vendors -->
        <!--begin::Page Snippets -->
        <script src="{{ asset('bundles/ateszworksadmin/assets/app/js/dashboard.js') }}" type="text/javascript"></script>
        <!--end::Page Snippets -->
    {% endblock %}
{% endblock %}