{% block header %}
    <meta charset="utf-8"/>
    <title>{{ pageTitle is defined ? pagetitle : 'MPCS ADMIN' }}</title>
    <meta name="description"
          content="{{ pageDescription is defined ? pageDescription : 'Adminisztrációs felület' }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
      WebFont.load({
        google: { "families": ["Montserrat:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
        active: function () {
          sessionStorage.fonts = true;
        }
      });
    </script>
    <!--end::Web font -->
    {% block stylesheets %}
        <!--begin::Base Styles -->
        <!--begin::Page Vendors -->
        {#todo: find a better way to produce links#}
        <link href="{{ asset('bundles/ateszworksadmin/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css') }}"
              rel="stylesheet"
              type="text/css">
        <!--end::Page Vendors -->
        <link href="{{ asset('bundles/ateszworksadmin/assets/vendors/base/vendors.bundle.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('bundles/ateszworksadmin/assets/demo/demo3/base/style.bundle.css') }}" rel="stylesheet"
              type="text/css">
    {% endblock %}
    <!--end::Base Styles -->
    <link rel="shortcut icon"
          href="{{ asset('bundles/ateszworksadmin/assets/demo/demo3/media/img/logo/favicon.ico') }}"/>
{% endblock %}