{% extends '@AteszworksAdmin/common/base.html.twig' %}
{% use '@AteszworksAdmin/common/header.html.twig' %}
{% use '@AteszworksAdmin/common/body.html.twig' %}
{% block flashHandling %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            <strong>{{ "general.success"|trans }}</strong> {{ message|trans }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            <strong>{{ "general.error"|trans }}</strong> {{ message|trans }}
        </div>
    {% endfor %}
{% endblock %}