{% extends '@AteszworksAdmin/common/layout.html.twig' %}
{% form_theme form '@AteszworksAdmin/form/metronic.html.twig' %}

{% block headerstack %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/articles.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
                        <h3 class="m-portlet__head-text">
                            {{ "general.add_article"|trans }}
                        </h3>
                    </div>
                </div>
            </div>

            {% if errors is defined and errors|length > 0 %}
                <div class="alert alert-danger">
                    <strong>{{ "general.error"|trans }}!</strong>
                    <ul>
                        {% for error in errors %}
                            <li>{{ error.message|trans }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div>
                {{ form_start(form, { 'attr' : { 'class': 'm-form' } }) }}
                <input type="hidden" id="filebag_id" name="filebag_id" value="{{ uniqId }}">
                <input type="hidden" id="article_id" value="{{ articleId ?? 'none' }}">
                {{ form_errors(form) }}
                {{ form_widget(form.language_selector) }}
                {{ form_widget(form.article_title) }}
                <div class="form-group">
                    {{ form_label(form.article.listable, null, {'label_attr': {'class': 'special-label'}}) }}
                    {{ form_widget(form.article.listable) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.article.article_image) }}
                    {{ form_widget(form.article.article_image) }}
                </div>
                <div class="form-group">

                    {% if articleTranslation.article.imageUrl is defined and articleTranslation.article.imageUrl|length > 0 %}
                        <p>
                            {{ "form.actual_image"|trans }}:
                            <a href="{{ url('image', {'name': articleTranslation.article.imageUrl}) }}"
                               target="_blank">{{ articleTranslation.article.imageUrl }}</a>
                        </p>
                    {% endif %}
                    {{ form_label(form.article.attached_images) }}
                    {{ form_widget(form.article.attached_images, {'attr': {'class': 'should-hide'}}) }}

                    <div class="should-display upload-area">
                        <img src="{{ asset('main/img/loading.svg') }}" alt="{{ "admin.general.loading"|trans }}"
                             class="loading">
                        <div class="upbox_input">
                            <label for="upload_file default-forced-label"><strong>{{ "admin.general.choose_a_file"|trans }}</strong><span
                                        class="upbox_dragndrop"> {{ "admin.general.or_drag_it_here"|trans }}</span>.</label>
                            <input class="upbox_file" type="file" name="files[]" id="upload_file" multiple>
                        </div>

                        <div class="upbox_status hidden">
                            <span class="upbox_total"></span> / <span class="upabox_current"></span>
                        </div>
                        <div class="upbox_uploading hidden">{{ "admin.general.uploading"|trans }}&hellip;</div>
                        <div class="upbox_done hidden">{{ "admin.general.done"|trans }}!</div>
                        <div class="upbox_error hidden">{{ "admin.general.error"|trans }}! <span></span>.</div>
                    </div>

                    <p class="default-forced-label">{{ "form.actual_attached_image"|trans }}:</p>
                    {% set gotImages = attachedImages|length > 0 %}
                    <ul id="actual-images" class="{{ gotImages ? '' : 'forced-hidden' }}">
                        {% if gotImages %}
                            {% for img in attachedImages %}
                                <li>
                                    <a href="{{ url('image', {'name': img.original}) }}"
                                       target="_blank" class="image-wrapper">
                                        <img src="" data-small-src="{{ url('image', {'name': img.small}) }}">
                                    </a>
                                    <a href="#" class="attached_image_remove remove-icon"
                                       data-resource-id="{{ img.original }}"><i class="fa fa-eraser"></i></a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <p id="no-image-text"
                       class="{{ gotImages ? 'hidden': '' }}">{{ 'form.article.no_attached_image'|trans }}</p>
                </div>

                {{ form_widget(form.article) }}
                {{ form_rest(form) }}
                {{ form_widget(form.submit_button, {'attr': {'class': 'submit-button'}}) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    {% embed '@AteszworksAdmin/components/404modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/error_modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/success_modal.html.twig' %}{% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% set articleId = articleTranslation.article.id is defined and articleTranslation.article.id != ""
            ? articleTranslation.article.id : 'replace_me' %}
        var updateRoute = "{{ url('ateszworks_admin_get_an_article', {'resource_id': articleId, 'lang_code': 'hu'}) }}";
        var removeUrl = "{{ url('ateszworks_admin_async_image_removal', {'name': 'replace_me'}) }}";
        var mode = "{{ editMode ? 'edit' : 'add' }}";
        var config = {
          minHeight: '300px',
          placeholder: "{{ "content_action.article_placeholder"|trans }}"
        };
        var summernoteTextareaID = "#aw_article_translation_article_content";
        var asyncImageUrl = "{{ url('ateszworks_admin_async_image_upload') }}";
    </script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/utils.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/basic-ajax-error-handlers.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/summernote-helper.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/article-helper.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/asyncImage.js') }}"></script>
{% endblock %}
