{% extends '@AteszworksAdmin/common/aw_datatable.html.twig' %}

{% block content %}
    {% block flashHandling %}
        {{ parent() }}
    {% endblock %}

    {% embed '@AteszworksAdmin/components/datatable.html.twig' with {
        'title': 'list.article.edit_articles'|trans,
        'newIcon': 'la-plus',
        'newElementButtonText': 'list.article.new'|trans,
        'newElementPath': path('ateszworks_admin_articles_add')
    } %}
        {% block datatableSearch %}{% endblock %}
        {% block headertags %}
            {% if articles|length > 0 %}
                <th data-field="MenuID"
                    class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">#
                </th>
                <th data-field="Name" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.article.title"|trans }}</span></th>
                <th data-field="Weight" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.article.published"|trans }}</span></th>
                <th data-field="Weight" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.article.created"|trans }}</span></th>
                <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.article.actions"|trans }}</span></th>
            {% endif %}
        {% endblock %}

        {% block rows %}
            {% if articles|length <1 %}
                <tr class="m-datatable__row">
                    <td colspan="4">
                        <div class="alert alert-info">
                            <strong>{{ "general.no_content"|trans }}</strong> {{ "general.no_displayable_content"|trans }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for article in articles %}
                {# todo: kezdeni vmit ezzel a display table félrehasnzálattal, meg a nevetséges span width-kkel #}
                <tr data-row="{{ loop.index }}" class="m-datatable__row" style="left: 0;">
                    <td data-field="MenuID"
                        class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">{{ article.id }}</td>
                    <td data-field="Name" class="m-datatable__cell"><span
                                style="width: 110px;">{{ article.translations.first ? article.translations.first.title : '-' }}</span>
                    </td>
                    <td data-field="Published" class="m-datatable__cell"><span
                                style="width: 110px;">{{ article.published.format('Y. m. d.') }}</span></td>
                    <td data-field="Created" class="m-datatable__cell"><span
                                style="width: 110px;">{{ article.created.format('Y. m. d.') }}</span></td>
                    <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">
                            <a href="{{ path('ateszworks_admin_articles_edit', {'resource_id': article.id}) }}"
                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                               title="{{ "general.edit"|trans }}"><i class="la la-edit"></i>
                            </a>
                            <a href="{{ path('ateszworks_admin_remove_an_article', {'resource_id': article.id}) }}"
                               data-resource-id="{{ article.id }}" data-toggle="modal"
                               data-target="#remove-confirmation"
                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill aw-remove-button"
                               title="{{ "general.remove"|trans }}"><i class="la la-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    <script>
      const removeRoute = "{{ url('ateszworks_admin_remove_an_article', {'resource_id': 'replace_me'}) }}";
    </script>
    {{ parent() }}
{% endblock %}