{% extends '@AteszworksAdmin/common/layout.html.twig' %}
{% form_theme form '@AteszworksAdmin/form/metronic.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/carouselpage.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block headerstack %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
                        <h3 class="m-portlet__head-text">
                            {{ "form.carousel.add_or_edit"|trans }}
                        </h3>
                        <p>
                            {{ "form.info.upload_image_in_resolution"|trans({'%resolution%': '1920x900'}) }}
                        </p>
                    </div>
                </div>
            </div>

            {% if formErrors is defined and formErrors|length > 0 %}
                <div class="alert alert-danger">
                    <strong>{{ "general.error"|trans }}!</strong>
                    <ul>
                        {% for error in formErrors %}
                            <li>{{ error.message|trans }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}


            <div>
                <p><b>{{ "form.carousel.info"|trans }}</b></p>
                <pre>
                {{ '<p class="caption-sm">we cant help everyone</p>
                <p class="caption-xs">but</p>
                <p class="caption-lg"><span>Everyone</span></p>
                <p class="caption-lg">can help</p>'|escape('html') }}
               </pre>
            </div>
            <div>
                {{ form_start(form, { 'attr' : { 'class': 'm-form' } }) }}
                {{ form_label(form.carousel_image, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.carousel_image) }}
                {{ form_label(form.translations, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.translations) }}
                {{ form_label(form.weight, 'form.carousel.weight', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.weight) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    {% embed '@AteszworksAdmin/components/404modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/error_modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/success_modal.html.twig' %}{% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      var editorPlaceholer = "{{ "content_action.article_placeholder"|trans }}";
      var config = {
        minHeight: '150px',
        placeholder: '{{ 'form.carousel.content'|trans }}'
      };
    </script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/basic-ajax-error-handlers.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/summernote-helper.js') }}"></script>
{% endblock %}
