{% extends '@AteszworksAdmin/common/aw_datatable.html.twig' %}

{% block content %}
    {% block flashHandling %}
        {{ parent() }}
    {% endblock %}

    {% embed '@AteszworksAdmin/components/datatable.html.twig' with {
        'title': 'list.carousel.edit_carousels'|trans,
        'newIcon': 'la-plus',
        'newElementButtonText': 'list.carousel.new'|trans,
        'newElementPath': path('ateszworks_admin_carousel_add_page')
    } %}
        {% block datatableSearch %}{% endblock %}
        {% block headertags %}
            {% if carousels|length > 0 %}
                <th data-field="CarouselID"
                    class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">#
                </th>
                <th data-field="Name" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.carousel.content"|trans }}</span></th>
                <th data-field="Created" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.carousel.created"|trans }}</span></th>
                <th data-field="Weight" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.carousel.weight"|trans }}</span></th>
                <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort"><span
                            style="width: 110px;">{{ "list.carousel.actions"|trans }}</span></th>
            {% endif %}
        {% endblock %}

        {% block rows %}
            {% if carousels|length < 1 %}
                <tr class="m-datatable__row">
                    <td colspan="4">
                        <div class="alert alert-info">
                            <strong>{{ "general.no_content"|trans }}</strong> {{ "general.no_displayable_content"|trans }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for carousel in carousels %}
                {# todo: kezdeni vmit ezzel a display table félrehasnzálattal, meg a nevetséges span width-kkel #}
                <tr data-row="{{ loop.index }}" class="m-datatable__row" style="left: 0;">
                    <td data-field="CarouselID"
                        class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">{{ carousel.id }}</td>
                    <td data-field="Name" class="m-datatable__cell"><span
                                style="width: 110px;">{{ carousel.translations.first ? carousel.translations.first.content|striptags('<br>') : '-' }}</span>
                    </td>
                    <td data-field="Created" class="m-datatable__cell"><span
                                style="width: 110px;">{{ carousel.created.format('Y. m. d.') }}</span></td>
                    <td data-field="Weight" class="m-datatable__cell"><span
                                style="width: 110px;">{{ carousel.weight }}</span></td>
                    <td data-field="Actions" class="m-datatable__cell"><span style="overflow: visible; width: 110px;">
                            <a href="{{ path('ateszworks_admin_carousel_edit_page', {'resource_id': carousel.id}) }}"
                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                               title="{{ "general.edit"|trans }}"><i class="la la-edit"></i>
                            </a>
                            <a href="{{ path('ateszworks_admin_remove_a_carousel_page', {'resource_id': carousel.id}) }}"
                               data-resource-id="{{ carousel.id }}" data-toggle="modal"
                               data-target="#remove-confirmation"
                               class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill aw-remove-button"
                               title="{{ "general.remove"|trans }}"><i class="la la-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    <script>
      var removeRoute = "{{ url('ateszworks_admin_remove_a_carousel_page', {'resource_id': 'replace_me'}) }}";
    </script>
    {{ parent() }}
{% endblock %}