@import "common";

// vars:
$uploadAreaBg: rgb(203, 218, 224);
$uploadAreaBorder: darken($uploadAreaBg, 80%);

.should-display {
  display: none;
}

p {
  &.fake-label {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.upload-area {
  position: relative;
  background-color: $uploadAreaBg;
  color: $lessLightBlue;
  max-width: 30%;
  min-height: 150px;
  min-width: 150px;
  padding: 15px;
  outline: 2px dashed black;
  outline-offset: -10px;

  &.is-dragover {
    background-color: grey;
    outline-offset: -5px;
  }

  .upbox_dragndrop {
    display: inline;
  }

  .loading {
    display: none;
    position: absolute;
    @include square(50px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  > div {
    a {
      &:hover {
        color: darken($lessLightBlue, 20%);
        text-decoration: underline;
      }

      &:visited,
      &:link,
      &:active {
        text-decoration: none;
      }
    }
  }
}

#actual-images {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 400px;
  overflow: scroll;
  border: 1px solid $uploadAreaBg;
  padding: 10px;

  li {
    display: block;
    width: 250px;

    a {
      display: block;
      > img {
        display: block;
        margin: 0 auto;
        width: 90%;
        min-height: 100px;
        border: 1px dotted #232722;
        transition: width 0.3s ease-in-out;

        &.loaded {
          min-height: 0;
          border: 0;
        }

        &:hover {
          width: 100%;
        }
      }

      &.remove-icon {
        position: relative;
        bottom: 0;
        display: block;
        margin: 0 auto;
        font-size: 2rem !important;
        text-align: center;

        &:active,
        &:visited,
        &:link {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}