// Colors:
$lightBlue: #59e6ff;
$lessLightBlue: darken($lightBlue, 50%);

.hidden {
  display: none;
}

.forced-hidden {
  display: none !important;
}

.loading {
  width: 20px;
  height: 20px;
}

form {
  div.form-group {

    > .bigger {
      font-size: 1.5rem;
    }

    > label,
    > p.fake-label {
      display: block;
      width: 100%;
      border-bottom: 1px solid black;
      font-size: 1.1rem;
    }

    > .special-label {
      @extend .fake-label;
      display: inline;
      width: auto;
    }

    > .default-forced-label {
      display: inline !important;
      width: auto !important;
      border: 0 !important;
    }
  }

  .form-label {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 1.1rem;
  }

}

@mixin square($width) {
  width: $width;
  height: $width;
}

@mixin min-square($width) {
  min-width: $width;
  min-height: $width;
}