// Configure these variables only:
$width: 50px;

// Leave it do its job.
$height: ($width * 17) / 30;
$circleSize: ($height / 17) * 13;
$circleTranslation: ($height / 17) * 2;

div.aw-checkbox-wrapper {
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: $width;
    height: $height;
    margin: 0;

    /* Hide default HTML checkbox */
    input {
      display: none;
    }
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      position: absolute;
      content: "";
      height: $circleSize;
      width: $circleSize;
      left: $circleTranslation;
      bottom: $circleTranslation;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    /* Rounded sliders */
    &.round {
      border-radius: $height;

      &:before {
        border-radius: 50%;
      }
    }
  }

  input {
    &:checked + .slider {
      background-color: #2196F3;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX($circleSize);
      -ms-transform: translateX($circleSize);
      transform: translateX($circleSize);
    }
  }
}