@import "common";
@import "switch";

$resultsMargin: 10px;
$resultsPadding: 10px;

$selectedColor: gold;
$borderColor: $selectedColor;

.hidden {
  display: none;
}

.aw-checkbox-wrapper {
  .box-wrapper,
  .text-wrapper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    > .switch-text-resource {
      display: none;
    }

    > .switch {
      vertical-align: middle;
    }
  }
}

.m-form {
  .menu-form-url-target-group {
    display: block;
  }

  // todo: create some design
  .menu-form-resource-target-group {
    display: none;

    .results {
      display: none;
      position: relative;
      border: 0;
      border-left: solid $borderColor;
      border-left-width: 5px;
      padding: $resultsPadding 0 $resultsPadding $resultsPadding;
      margin-top: $resultsMargin;
      margin-bottom: $resultsMargin;

      #target_resource-values {
        list-style-type: none;
        margin-top: $resultsPadding;

        .resource-list-clickable {
          cursor: pointer;
          margin-bottom: 5px;

          &:hover,
          &.selected {
            color: $selectedColor;
          }
        }
      }
    }

  }
}