@import "common";

tr#sample-row {
  display: none;
}

form.image-up-form {
  label, input {
    display: block;
  }
}

table {
  tr {
    td {
      a {
        position: relative;
        display: inline-block; // never forget: display block is default 100% wide.

        &:active, &:visited, &:hover, &:link {
          color: black;
          text-decoration: none
        }

        img.image {
          display: block;
          max-height: 300px;
          border: 1px dotted dodgerblue;
          min-width: 20px;
          width: 150px;
          visibility: hidden;

          &.under-load {
            min-height: 100px;
          }
        }

        .loading {
          display: none;
          position: absolute;
          @include square(50px);
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }

      .actions-holder {
        font-size: 1.5rem;
      }
    }
  }
}