<!-- 404 modal -->
{% embed '@AteszworksAdmin/components/basic_modal.html.twig' with {
    modal_id: '404modal',
    tab_index: -1,
    modal_label: '404modal',
    modal_title: "error"|trans,
    modal_content: "general.messages.not_found"|trans
} %}{% endembed %}