<div class="modal fade" id="{{ modal_id }}" tabindex="{{ tab_index }}" role="dialog" aria-labelledby="{{ modal_label }}"
     aria-hidden="true">
    <div class="modal-dialog {{ classes is defined ? classes : '' }}" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% block modalHeader %}
                    <h5 class="modal-title"
                        id="exampleModalLabel">{{ modal_title is defined ? modal_title : "example modal" }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                {% endblock %}
            </div>
            <div class="modal-body">
                {% block modalBody %}
                    {{ modal_content is defined ? modal_content : "example modal content" }}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block buttons %}
                    <button type="button" class="btn btn-primary"
                            data-dismiss="modal">{{ "general.button.close"|trans }}</button>
                {% endblock %}
            </div>
        </div>
    </div>
</div>