<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    {{ title }}
                    <small>
                        {{ slugtitle is defined ? slugtitle : '' }}
                    </small>
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        {% block upper_form %}
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        {% block datatableSearch %}
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-4">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid"
                                               placeholder="{{ "general.search"|trans }}..."
                                               id="generalSearch">
                                        <span class="m-input-icon__icon m-input-icon__icon--left"><span><i
                                                        class="la la-search"></i></span></span>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        {% block new_button %}
                            <a href="{{ newElementPath }}"
                               class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
												<span>
													<i class="la {{ newIcon is defined ? newIcon : 'la-cart-plus' }}"></i>
													<span>{{ newElementButtonText is defined ? newElementButtonText : 'Új' }}</span>
												</span>
                            </a>
                        {% endblock %}
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        {% endblock %}
        <!--begin: Datatable -->
        <div class="">
            <table class="table table-striped">
                <tr>
                    {% block headertags %}
                        <th>First row</th>
                        <th>Order ID</th>
                    {% endblock %}
                </tr>
                {% block rows %}
                    <tr>
                        <td>Sample content 1</td>
                        <td>Sample content 2</td>
                        <td>Sample content 3</td>
                    </tr>
                {% endblock %}
            </table>
        </div>
        <!--end: Datatable -->
    </div>
</div>

{% block datatablesAdditional %}
    {% embed '@AteszworksAdmin/components/removeConfirmationModal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/404modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/error_modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/success_modal.html.twig' %}{% endembed %}
{% endblock %}