<!-- error modal -->
{% embed '@AteszworksAdmin/components/basic_modal.html.twig' with {
    modal_id: 'error-modal',
    tab_index: -1,
    modal_label: 'error',
    modal_title: "general.error"|trans,
    modal_content: "general.messages.network_error"|trans
} %}{% endembed %}