<div class="modal fade" id="remove-confirmation" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ "general.modal.remove.title"|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ "general.remove_confirmation"|trans }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{ "general.button.close"|trans }}
                </button>
                <button type="button" class="btn btn-primary btn-danger">
                    {{ "general.button.remove"|trans }}
                </button>
            </div>
        </div>
    </div>
</div>