<!-- successful removal modal -->
{% embed '@AteszworksAdmin/components/basic_modal.html.twig' with {
    modal_id: 'success-modal',
    tab_index: -1,
    modal_label: 'success',
    modal_title: "general.success"|trans,
    modal_content: "content_action.resource_has_been_removed"|trans
} %}{% endembed %}