<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Elkészítés alatt!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('underconstruction/images/icons/favicon.ico') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{{ asset('underconstruction/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('underconstruction/vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('underconstruction/vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('underconstruction/css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('underconstruction/css/main.css') }}">
    <!--===============================================================================================-->
</head>
<body>

<!--  -->
<div class="simpleslide100">
    <div class="simpleslide100-item bg-img1"
         style="background-image: url('{{ asset('underconstruction/images/bg01.jpg') }}');"></div>
    <div class="simpleslide100-item bg-img1"
         style="background-image: url('{{ asset('underconstruction/images/bg02.jpg') }}');"></div>
</div>

<div class="flex-col-c-sb size1 overlay1">
    <!--  -->
    <div class="w-full flex-w flex-sb-m p-l-80 p-r-80 p-t-22 p-lr-15-sm">
        <div class="wrappic1 m-r-30 m-t-10 m-b-10">
            <a href="#">
                {#<img src="{{ asset('underconstruction/images/icons/logo.png') }}" alt="LOGO">#}
                <span class="l1-txt1 txt-center p-b-40 respon1"
                      style="font-size: 1em;">Máriapócsi Nemzeti Kegyhely</span>
            </a>
        </div>

        <div class="flex-w m-t-10 m-b-10">
            {% for menu in menus %}
                <a href="{{ menu.url }}" class="size2 m1-txt1 flex-c-m how-btn1 trans-04">{{ menu.title }}</a>
            {% endfor %}
        </div>
        <div>
            <select name="language" id="language_switcher">
                {% for lang in langs %}
                    <option value="{{ lang.code }}" {{ currentLanguage.code == lang.code ? 'selected' : '' }}>{{ lang.langName }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!--  -->
    <div class="flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-120">
        <h3 class="l1-txt1 txt-center p-b-40 respon1">
            <b>Nemsokára</b> elérhető.
        </h3>

        {% if article is defined %}
            <div>
                <h1>{{ article.title }}</h1>
                <div>
                    {{ article.contents|raw }}
                </div>
                <p>{{ article.author }} @ {{ article.created }}</p>
            </div>
        {% endif %}
    </div>

    <!--  -->
    <div class="flex-w flex-c-m p-b-35">
        {#        <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
                    <i class="fa fa-youtube-play"></i>
                </a>#}
    </div>
</div>


<!--===============================================================================================-->
<script src="{{ asset('underconstruction/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('underconstruction/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('underconstruction/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('underconstruction/vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('underconstruction/vendor/countdowntime/moment.min.js') }}"></script>
<script src="{{ asset('underconstruction/vendor/countdowntime/moment-timezone.min.js') }}"></script>
<script src="{{ asset('underconstruction/vendor/countdowntime/moment-timezone-with-data.min.js') }}"></script>
<script src="{{ asset('underconstruction/vendor/countdowntime/countdowntime.js') }}"></script>
<script>
  $('.cd100').countdown100({
    /*Set Endtime here*/
    /*Endtime must be > current time*/
    endtimeYear: 0,
    endtimeMonth: 0,
    endtimeDate: 35,
    endtimeHours: 19,
    endtimeMinutes: 0,
    endtimeSeconds: 0,
    timeZone: ""
    // ex:  timeZone: "America/New_York"
    //go to " http://momentjs.com/timezone/ " to get timezone
  });
</script>
<!--===============================================================================================-->
<script src="{{ asset('underconstruction/vendor/tilt/tilt.jquery.min.js') }}"></script>
<script>
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>
<!--===============================================================================================-->
<script src="{{ asset('underconstruction/js/main.js') }}"></script>
<script>var mainpageRoute = "{{ url('homepage', {'_locale': 'hu'}) }}";</script>
<script src="{{ asset('underconstruction/js/common.js') }}"></script>

</body>
</html>