@import "mixins";

$blurAmount: 5px;
$bgBlurAmount: $blurAmount;
$menuTextHoverColor: black;
$menuFontSize: 18px;

.cover-bg {
  background: no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.site-footer {
  background: #cccccc none !important;
}

@supports (filter: blur($blurAmount)) {
  .blur {
    transform: translateZ(0);
    filter: blur($blurAmount);
    -webkit-filter: blur($blurAmount);
    -ms-filter: blur($blurAmount);
  }
  .un-blur {
    animation: sharpen .5s both;
  }
  @keyframes sharpen {
    from {
      filter: blur($blurAmount);
      -webkit-filter: blur($blurAmount);
      -ms-filter: blur($blurAmount);
    }
    to {
      filter: none;
      -webkit-filter: none;
      -ms-filter: none;
    }
  }
}

.partners {
  padding-left: 10px;
  padding-right: 10px;

  .partners-main-logo {
    margin-bottom: 50px;

    #metropolia-logo {
      img {
        display: block;
        width: 100%;
        margin: 0 auto;

        @include mobile {
          max-width: 450px;
        }
      }
    }
  }

  .partner-logo {
    width: 100%;

    img {
      display: block;
      height: 107px;
      max-width: 100%;
      margin: 0 auto;

      @include min-mobile {
        height: auto;
        max-height: 124px;
      }
    }
  }
}

img {
  &.loading {
    border: 1px dotted #0f3647;
    min-height: 150px;
    min-width: 300px;
  }

  &.loaded {
    border: 0;
  }
}

.logo-text-sm {
  left: 0;
  white-space: nowrap;
}

.dropdown-menu {
  padding-top: 0;

  > li {
    > a {
      background-color: rgba(72, 50, 44, 0.5);

      &:hover {
        color: $menuTextHoverColor;
      }
    }
  }
}

.navbar-left {
  li {
    a {
      font-size: $menuFontSize !important;
    }
  }
}