$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

// Use it rarely!! (mobile first!)
@mixin small-mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin min-mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin min-tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin custom-min($min) {
  @media (min-width: #{$min}) {
    @content;
  }
}

@mixin custom-max($max) {
  @media (min-width: #{$max}) {
    @content;
  }
}