@import "common";

div.post-media {
  width: 100%;
  padding-top: 100%;
  background: no-repeat scroll center center;
}

.carousel-inner {
  > .item {
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  img {
    visibility: hidden;
    width: 100% !important;
  }
}

#todays-article {
  background: no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}

div.bazilita-image {
  overflow: hidden;

  > img {
    position: relative;
    margin-left: -50%;
    margin-top: -5%;
    width: auto;
    max-width: none;
    height: 100%;
  }
}