@import "common";
@import "image_layout";
@import "no-fancy-header";

div.container {
  .cover-image {
    display: block;
    width: 100%;
    margin: 0 auto;

    > img {
      display: block;
      width: 100%;
    }
  }

  .media-thumbnail {
    width: 100%;

    img {
      display: block;
      visibility: hidden;
      width: 100% !important;
    }
  }
}

.image-container {
  overflow: hidden !important;
}