{% extends '@AteszworksAdmin/common/layout.html.twig' %}
{% form_theme form '@AteszworksAdmin/form/metronic.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/edit_gallery.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block headerstack %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
                        <h3 class="m-portlet__head-text">
                            {{ "form.gallery.add_or_edit"|trans }}
                        </h3>
                    </div>
                </div>
            </div>

            {% if formErrors is defined and formErrors|length > 0 %}
                <div class="alert alert-danger">
                    <strong>{{ "general.error"|trans }}!</strong>
                    <ul>
                        {% for error in formErrors %}
                            <li>{{ error.message|trans }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div>
                {{ form_start(form, { 'attr' : { 'class': 'm-form' } }) }}
                {{ form_label(form.translations, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.translations) }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>

    {% embed '@AteszworksAdmin/components/404modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/error_modal.html.twig' %}{% endembed %}
    {% embed '@AteszworksAdmin/components/success_modal.html.twig' %}{% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script>var _ajaxUrl = "{{ url('ateszworks_admin_get_pointable_resources', {'name_fraction': 'name_fraction'}) }}";</script>#}
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/basic-ajax-error-handlers.js') }}"></script>
{% endblock %}