{% extends '@AteszworksAdmin/common/aw_datatable.html.twig' %}

{% block content %}
    {% block flashHandling %}
        {{ parent() }}
    {% endblock %}

    {% embed '@AteszworksAdmin/components/datatable.html.twig' with {
        'title': 'list.gallery.datatable_title'|trans,
        'newIcon': 'la-plus',
        'newElementButtonText': 'list.gallery.new'|trans,
        'newElementPath': path('ateszworks_admin_gallery_add')
    } %}
        {% block datatableSearch %}{% endblock %}
        {% block headertags %}
            {% if galleries|length > 0 %}
                <th>#</th>
                <th>{{ "list.gallery.title"|trans }}</th>
                <th>{{ "list.gallery.published"|trans }}</th>
                <th>{{ "list.gallery.created"|trans }}</th>
                <th>{{ "list.gallery.actions"|trans }}</th>
            {% endif %}
        {% endblock %}

        {% block rows %}
            {% if galleries|length <1 %}
                <tr class="m-datatable__row">
                    <td colspan="3">
                        <div class="alert alert-info">
                            <strong>{{ "general.no_content"|trans }}</strong> {{ "general.no_displayable_content"|trans }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for gallery in galleries %}
                <tr>
                    <td>{{ gallery.id }}</td>
                    <td>
                        {{ gallery.translations.first ? gallery.translations.first.title : '-' }}
                    </td>
                    <td>
                        {{ gallery.published.format('Y. m. d.') }}
                    </td>
                    <td>
                        {{ gallery.created.format('Y. m. d.') }}
                    </td>
                    <td>
                        <a href="{{ path('ateszworks_admin_gallery_images', {'resource_id': gallery.id}) }}"
                           class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                           title="{{ "general.edit"|trans }}"><i class="la la-image"></i>
                        </a>
                        <a href="{{ path('ateszworks_admin_gallery_edit', {'resource_id': gallery.id}) }}"
                           class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                           title="{{ "general.edit"|trans }}"><i class="la la-edit"></i>
                        </a>
                        <a href="{{ path('ateszworks_admin_remove_gallery', {'resource_id': gallery.id}) }}"
                           data-resource-id="{{ gallery.id }}" data-toggle="modal"
                           data-target="#remove-confirmation"
                           class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill aw-remove-button"
                           title="{{ "general.remove"|trans }}"><i class="la la-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    <script>
      var removeRoute = "{{ url('ateszworks_admin_remove_gallery', {'resource_id': 'replace_me'}) }}";
    </script>
    {{ parent() }}
{% endblock %}