{% extends '@AteszworksAdmin/common/aw_datatable.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/manage_images.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block content %}
    {% block flashHandling %}
        {{ parent() }}
    {% endblock %}

    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{ 'form.gallery.manage_images.upload'|trans }}
                        <small>
                            {{ 'form.gallery.manage_images.upload_description'|trans }}
                        </small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            {{ form_start(form, { 'attr' : { 'class': 'm-form image-up-form' } }) }}
            {{ form_errors(form) }}
            {{ form_end(form) }}
            <p id="status-label"></p>
        </div>
    </div>

    {% embed '@AteszworksAdmin/components/datatable.html.twig' with {
        'title': 'list.gallery.datatable.images.title'|trans,
        'newIcon': 'la-plus',
        'newElementButtonText': 'list.gallery.datatable.images.add'|trans,
        'newElementPath': path('ateszworks_admin_gallery_add')
    } %}
        {% block upper_form %}{% endblock %}
        {% block headertags %}
            {% if images|length > 0 %}
                <th>{{ "list.gallery.datatable.images.image"|trans }}</th>
                <th>{{ "list.gallery.datatable.images.name"|trans }}</th>
                <th>{{ "list.gallery.datatable.images.actions"|trans }}</th>
            {% endif %}
        {% endblock %}

        {% block rows %}
            <tr id="sample-row">
                <td>
                    <a href="{{ path('ateszworks_admin_gallery_image',
                        {'gallery_id': gallery_id, 'resource_name': '_image_stored_name_'}) }}" target="_blank">
                        <img src="" class="_replace_this_class_" data-src="_image_stored_name_">
                        <img src="{{ asset('main/img/loading.svg') }}"
                             alt="{{ "admin.general.loading"|trans }}"
                             class="loading hidden">
                    </a>
                </td>
                <td>
                    <a href="{{ path('ateszworks_admin_gallery_image',
                        {'gallery_id': gallery_id,
                            'resource_name': '_image_stored_name_'}) }}" target="_blank">_image_original_name_</a>
                </td>
                <td>
                    <div class="actions-holder">
                        <a href="{{ path('ateszworks_admin_gallery_remove_image',
                            {'gallery_id': gallery_id, 'resource_id': '_image_stored_name_' }) }}"
                           data-resource-id="_image_stored_name_" data-toggle="modal"
                           data-target="#remove-confirmation"
                           class="aw-remove-button"
                           title="{{ "general.remove"|trans }}"><i class="la la-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            {% if images|length <1 %}
                <tr id="no-content">
                    <td colspan="3">
                        <div class="alert alert-info">
                            <strong>{{ "general.no_content"|trans }}</strong> {{ "general.no_displayable_content"|trans }}
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% for image in images %}
                <tr>
                    <td>
                        <a href="{{ path('ateszworks_admin_gallery_image',
                            {'gallery_id': gallery_id, 'resource_name': image.storedName}) }}" target="_blank">
                            <img src="" class="image under-load" data-src="{{ image.storedName }}">
                            <img src="{{ asset('main/img/loading.svg') }}"
                                 alt="{{ "admin.general.loading"|trans }}"
                                 class="loading hidden">
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('ateszworks_admin_gallery_image',
                            {'gallery_id': gallery_id,
                                'resource_name': image.storedName}) }}" target="_blank">{{ image.originalName }}</a>
                    </td>
                    <td>
                        <div class="actions-holder">
                            <a href="{{ path('ateszworks_admin_gallery_remove_image',
                                {'gallery_id':gallery_id, 'resource_id': image.storedName }) }}"
                               data-resource-id="{{ image.storedName }}" data-toggle="modal"
                               data-target="#remove-confirmation"
                               class="aw-remove-button"
                               title="{{ "general.remove"|trans }}"><i class="la la-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      var removeRoute = "{{ url('ateszworks_admin_gallery_remove_image',
          {'gallery_id': gallery_id, 'resource_id': 'replace_me'}) }}";
      var addRoute = "{{ url('ateszworks_admin_gallery_add_image', {'gallery_id': gallery_id}) }}";
      var viewRoute = "{{ url('ateszworks_admin_gallery_image',
          {'gallery_id': gallery_id, 'resource_name': 'replace_me'}) }}";
    </script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/basic-ajax-error-handlers.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/aw-async-upload-handler.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/aw-async-image-loader.js') }}"></script>
    <script src="{{ asset('bundles/ateszworksadmin/assets/js/gallery-image-manager.js') }}"></script>
{% endblock %}