<!DOCTYPE html>
<html lang="{{ currentLangCode ?? 'hu' }}">
{% block header %}{% endblock %}
<body>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '606789659692854',
      cookie: true,
      xfbml: true,
      version: 'v3.0'
    });

    FB.AppEvents.logPageView();
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

{% block body %}

    {% block site_header %}{% endblock %}
    {% block main_wrap %}{% endblock %}
    {% block site_footer %}{% endblock %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('main/js/jquery.js') }}"></script>
    <script src="{{ asset('main/js/libs/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('main/js/jquery-migrate.min.js') }}"></script>
    <script src="{{ asset('main/js/libs/scrollbar/jquery.mCustomScrollbar.min.js') }}"></script>
    <script src="{{ asset('main/js/libs/scrollbar/jquery.mousewheel.min.js') }}"></script>
    <script src="{{ asset('main/js/libs/isotope/isotope.js') }}"></script>
    <script src="{{ asset('main/js/libs/wow/wow.js') }}"></script>
    <script src="{{ asset('main/js/script.js') }}"></script>
    <script src="{{ asset('main/js/async-img-helper.js') }}"></script>
    <script src="{{ asset('main/js/blur-load.js') }}"></script>
{% endblock %}
</body>
</html>
