{% block header %}
    <head>

        <title>{% block title %}{{ 'general.mariapocs'|trans }} {{ 'general.nemzeti_kegyhely'|trans }}{% endblock %}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Facebook Metas #}
        <meta property="fb:app_id" content="606789659692854">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Máriapócs Nemzeti Kegyhely">
        {% if meta %}
            <meta property="og:title" content="{{ meta.ogTitle }}">
            <meta property="og:description" content="{{ meta.ogDescription }}">
            <meta property="og:image" content="{{ meta.ogImage }}">
            <meta property="og:url" content="{{ meta.ogUrl ?? app.request.uri }}">

            <meta name="twitter:title" content="{{ meta.twitterTitle }}">
            <meta name="twitter:description" content="{{ meta.twitterDescription }}">
            <meta name="twitter:image" content="{{ meta.twitterImage }}">
            <meta name="twitter:card" content="{{ meta.twitterCard ?? 'summary_large_image' }}">
        {% endif %}

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.ico') }}"/>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129602267-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-129602267-1');
        </script>

        <!-- Fonts -->
        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700' rel='stylesheet'
                  type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

            <!-- Main Stylesheet -->
            <link href="{{ asset('main/css/style.css') }}" rel="stylesheet">
        {% endblock %}

        {% block header_scripts %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
{% endblock %}