{% block main_wrap %}
    <main class="main-wrap">
        {% if carouselItems and carouselItems|length > 0 %}
            <div class="page-section">
                <div id="main-carousel" class="carousel slide carousel-fade main-carousel" data-ride="carousel">
                    <div class="svg-container svg-dcutter dcutter-down abs-bottom flipX">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 100 4"
                             preserveAspectRatio="none" class="svg">
                            <polygon points="0,0  100,0  100,4  95,3.5  80,4  10,0  0,0.5" class="poly poly-default"/>
                        </svg>
                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for item in range(1, carouselItems|length) %}
                            <li data-target="#main-carousel" data-slide-to="{{ loop.index }}"
                                class="{{ loop.index == 1 ? 'active' : '' }} wow fadeInUp"
                                data-wow-delay="0.2s" data-wow-duration="0.4s"></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {% for item in carouselItems %}
                            <div class="item {{ loop.index == 1 ? 'active' : '' }}"
                                 style="background-image: url('{{ item.smallImage }}');">
                                <img src="{{ item.smallImage }}" class="blur"
                                     alt="{{ item.content|striptags|replace({"\n":' ', "\r":' '}) }}"
                                     data-big-url="{{ url('image', {'name': item.imageUrl}) }}">
                                <div class="carousel-caption wow fadeInDown" data-wow-delay="0.2s"
                                     data-wow-duration="1s">
                                    <div class="container">
                                        <div class="caption-content">{{ item.content|raw }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1s"
                       href="#main-carousel" role="button" data-slide="prev">
                        <img src="{{ asset('main/img/slider/arrow-prev.png') }}" class="icon-prev" alt="Icon Prev">
                    </a>
                    <a class="right carousel-control wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1s"
                       href="#main-carousel" role="button" data-slide="next">
                        <img src="{{ asset('main/img/slider/arrow-next.png') }}" class="icon-next" alt="Icon Next">
                    </a>
                </div>
            </div>
        {% endif %}
        <!-- /.page-section -->

        {% block actual_section %}
            <div class="page-section">
                <div class="container">
                    {% block actual_section_content %}
                        <div class="row">
                            <div class="col-md-12 column">
                                <article class="blog-post">
                                    <div class="row">
                                        <div class="col-md-6 column wow slideInLeft">
                                            <div class="post-media">
                                                <img src="{{ asset('main/img/articles/list-article-img.jpg') }}"
                                                     alt="Post Media">
                                                <div class="img-cover post-media-cover"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column wow slideInRight">
                                            <header class="post-header">
                                                <h4 class="post-type">Next Event</h4>
                                                <h2 class="post-title"><a href="event.html">Water for africa</a></h2>
                                                <div class="meta-data meta-data-location post-meta">
                                                    <ul class="list-inline">
                                                        <li>
                                                            <i class="fa fa-map-marker meta-icon"></i> tongo, south
                                                            africa
                                                        </li>
                                                    </ul>
                                                </div>
                                            </header>
                                            <div class="countdown post-countdown">
                                                <ul class="list-inline countdown-list">
                                                    <li class="countdown-box countdown-box-days t-slate">
                                                        <p class="countdown-box-value">16</p>
                                                    </li>
                                                    <li class="countdown-box countdown-box-hours v-dotted t-dark">
                                                        <p class="countdown-box-value">23</p>
                                                    </li>
                                                    <li class="countdown-box countdown-box-minutes v-dotted t-primary">
                                                        <p class="countdown-box-value">46</p>
                                                    </li>
                                                    <li class="countdown-box countdown-box-seconds t-dark">
                                                        <p class="countdown-box-value">08</p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="post-content">
                                                <p>It is a long established fact that a reader will be distracted by the
                                                    readable
                                                    content of a page when looking at its layout. The point of using
                                                    Lorem
                                                    Ipsum
                                                    is
                                                    that it has a more-or-less normal distribution of letters, as
                                                    opposed to
                                                    using
                                                    'Content here, content here', making it look like readable
                                                    English.</p>
                                                <div class="collection-progress">
                                                    <div class="meta-data meta-vallet">
                                                        <div class="meta-left meta-data-collected">
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <i class="fa fa-database meta-icon"></i> $14880
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="meta-right meta-data-need">
                                                            <ul class="list-inline">
                                                                <li>
                                                                    <i class="fa fa-database meta-icon"></i> $18000
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                             aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                            <span class="sr-only">40% Complete (success)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <footer class="post-footer">
                                                <a href="#" class="btn-pure f-left"><i
                                                            class="fa fa-database btn-icon"></i>
                                                    Donate</a>
                                                <a href="#" class="btn-pure f-right"><i
                                                            class="fa fa-users btn-icon"></i>
                                                    Become
                                                    a
                                                    volunteer</a>
                                                <div class="clearfix"></div>
                                            </footer>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </article>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
        <!-- /.page-section -->

        <div class="page-section sisters-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 column">
                        <article class="about-sisters">
                            <header>
                                <h2 class="h1">{{ "homepage.bazilita.title_left"|trans }}</h2>
                            </header>
                            <div class="about-sister-body text-justify">
                                {{ "homepage.bazilita.content_left"|trans|raw }}
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 col-sm-8 column">
                        <article class="b-volunteer">
                            <header>
                                <h2 class="h1">{{ "homepage.bazilita.title_right"|trans }}</h2>
                            </header>
                            <div class="b-volunteer-body text-justify">
                                <p>{{ "homepage.bazilita.content_right"|trans|raw }}</p>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-4 sister-img-col">
                        <div class="sister-thumbnail wow fadeIn bazilita-image" data-wow-delay="0.5s" data-wow-duration="2s">
                            <img src="{{ asset('images/mpcs_kegyhely.jpg') }}" class="img-responsive"
                                 alt="Kegyhely">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- /.page-section -->
    </main>
{% endblock %}