{% block site_footer %}
    <div class="contact-footer-top clearfix"></div>
    <footer class="site-footer">
        <div class="img-cover footer-cover"></div>

        <div class="svg-container svg-default default-down abs-bottom flipX">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 4"
                 preserveAspectRatio="none" class="svg">
                <polygon points="0,0  100,0  100,2.5  82,4  0,0" class="poly poly-default"></polygon>
            </svg>
        </div>

        <div class="footer-content-wrap">
            <div class="container">
                <div class="company-info">
                    <div class="row">
                        <div class="col-md-5 column wow slideInLeft">
                            <div class="company-social-link">
                                <ul class="list-inline">
                                    <li>
                                        <a href="https://www.facebook.com/mariapocsnemzetikegyhely/" target="_blank"><span
                                                    class="typcn typcn-social-facebook-circular"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/mariapocsnemzetikegyhely/" target="_blank"><span
                                                    class="typcn typcn-social-instagram-circular"></span></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/user/hahota87/" target="_blank"><span
                                                    class="typcn typcn-social-youtube-circular"></span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="company-detail">
                                <p>
                                    {{ 'homepage.about'|trans|raw }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 column wow slideInDown">
                            <div class="contact-detail">
                                <h4 class="footer-col-title">{{ 'general.locations'|trans }}</h4>
                                <address>
                                    <strong class="icon-fa icon-map-marker">{{ 'homepage.csaladvar'|trans }}</strong>
                                    4326 Máriapócs<br>Kossuth tér 17.<br>
                                    <strong class="icon-fa icon-map-marker">{{ 'homepage.zarandokhaz'|trans }}</strong>
                                    4326 Máriapócs<br>Kossuth tér 17.<br>
                                    <strong class="icon-fa icon-map-marker">{{ 'homepage.zarandokkozpont'|trans }}</strong>
                                    4326 Máriapócs<br>Kossuth tér 17.<br>
                                    <strong class="icon-fa icon-map-marker">{{ 'homepage.kegytemplom'|trans }}</strong>
                                    4326 Máriapócs<br>Kossuth tér 25.<br>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 column wow slideInRight">
                            <div class="get-in-touch">
                                <h4 class="footer-col-title">{{ 'general.contact'|trans }}</h4>
                                <address>
                                    <strong class="icon-typcn icon-typcn-phone">+36 42 385 142</strong>
                                    <strong class="icon-typcn icon-typcn-at" style="text-transform: none;"><a
                                                href="mailto:pocskegyhely@gmail.com">pocskegyhely@gmail.com</a></strong>
                                    <br>
                                    <strong class="icon-fa icon-envelope">{{ 'homepage.book_and_food'|trans }}</strong>
                                    <a href="mailto:pocsizarandokhaz@gmail.com">pocsizarandokhaz@gmail.com</a>
                                    <strong class="icon-fa icon-envelope">{{ 'homepage.kegyhely_group_deals'|trans }}</strong>
                                    <a href="mailto:pocskegyhely@gmail.com">pocskegyhely@gmail.com</a>
                                </address>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- /.company-info -->

                <div class="footer-copyright wow bounce" data-wow-delay="0.2s" data-wow-duration="1s">
                <span class="footer-logo-icon">
                    <img src="{{ asset('main/img/footer/logo-icon.png') }}" alt="Logo Icon">
                </span>
                    <span>&copy; 2018 Máriapócsi Nemzeti Kegyhely</span>
                </div>

            </div>
        </div>
    </footer>
    <div id="custom-footer">
        {#<h1 class="footer-title wow flipInX" data-wow-delay="0.2s"#}
            {#data-wow-duration="1s">{{ 'homepage.partners'|trans }}</h1>#}

        <div class="partners wow slideInUp" data-wow-delay="0.2s" data-wow-duration="1.3s">
            <div class="row partners-main-logo">
                <div id="metropolia-logo" class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                    <a href="https://gorogkatolikus.hu/">
                        <img src="{{ asset('images/metropolia-logo.svg') }}"
                             alt="{{ 'homepage.metropolia'|trans }}">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12 column">
                    <div class="partner-logo">
                        <a target="_blank" href="https://www.nyirgorkat.hu/"><img src="{{ asset('images/nyirgorkat.png') }}"
                                                                                  alt="{{ 'homepage.nyir_egyhazmegye'|trans }}"></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 column">
                    <div class="partner-logo">
                        <a target="_blank" href="http://hd.gorogkatolikus.hu/"><img src="{{ asset('images/hajdudorog.svg') }}"
                                                                                    alt="{{ 'homepage.hajdu_egyhazmegye'|trans }}"></a>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 column">
                    <div class="partner-logo">
                        <a target="_blank" href="http://www.migorkat.hu/"><img src="{{ asset('images/me-logo.svg') }}"
                                                                               alt="{{ 'homepage.miskolc_egyhazmegye' }}"></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.partners -->
    </div>
{% endblock %}