{% block site_header %}
    <header class="site-header">
        <div class="site-header-wrap transparent">
            <div class="svg-container svg-default default-down abs-top">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 4"
                     preserveAspectRatio="none" class="svg">
                    <polygon points="0,0  100,0  100,2.5  82,4  0,0" class="poly poly-default"/>
                </svg>
            </div>
            <nav class="navbar navbar-default main-nav">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#site-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {#<a class="navbar-brand" href="{{ path('homepage') }}">#}
                        {#<img src="{{ asset('main/img/logo-full.png') }}" alt="Máriapócsi nemzeti kegyhely"#}
                        {#class="brand-img">#}
                        {#<!-- <h3 class="brand-text">Charity</h3> -->#}
                        {#</a>#}
                        <a href="{{ url('homepage') }}" class="navbar-brand logo-editable">
                            <span class="logo-text-lg">{{ "general.mariapocs"|trans }}</span>
                            <span class="logo-text-sm">{{ "general.nemzeti_kegyhely"|trans }}</span>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="site-nav">
                        <ul class="nav navbar-nav navbar-left">
                            {% for menu in menus %}
                                <li>
                                    <a href="{{ menu.url }}">{{ menu.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li> |</li>
                            <li class="dropdown">
                                <a href="#"
                                   class="sn-dropdown-hover">{{ currentLanguage.translationForLanguage(currentLanguage).langName }}</a>
                                <a href="#" class="sn-dropdown-toggle dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false"><i
                                            class="fa fa-plus-circle"></i></a>
                                <ul class="dropdown-menu">
                                    {% for lang in langs %}
                                        <li>
                                            <a href="{{ url('homepage', {'_locale': lang.code}) }}">{{ lang.langName }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <div class="sharing-fixed">
            <a href="#" class="sharing-fixed-toggle">
                <span class="typcn typcn-th-list"></span>
            </a>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.facebook.com/mariapocsnemzetikegyhely/" target="_blank"><span
                                class="typcn typcn-social-facebook-circular"></span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mariapocsnemzetikegyhely/" target="_blank"><span
                                class="typcn typcn-social-instagram-circular"></span></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/hahota87/" target="_blank"><span
                                class="typcn typcn-social-youtube-circular"></span></a>
                </li>
            </ul>
        </div>
    </header>
{% endblock %}