{# This should be extended to render pages. #}
{% extends 'common/frame.html.twig' %}

{% use 'common/header.html.twig' %}
{% use 'common/main_wrap.html.twig' %}
{% use 'common/site_header.html.twig' %}
{% use 'common/site_footer.html.twig' %}