#tribe-events-content .tribe-events-tooltip h4,#tribe_events_filters_wrapper .tribe_events_slider_val,.single-tribe_events a.tribe-events-gcal,.single-tribe_events a.tribe-events-ical{color:#21759b}
#tribe-events .tribe-events-button,#tribe-events .tribe-events-button:hover,#tribe_events_filters_wrapper input[type=submit],.tribe-events-button,.tribe-events-button.tribe-active:hover,.tribe-events-button.tribe-inactive,.tribe-events-button:hover,.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a{background-color:#21759b}
#tribe_events_filters_wrapper input[type=submit]:hover,.tribe-events-button.tribe-active:hover{background-color:#0f3647}
#tribe-events .tribe-events-button:hover,.tribe-events-button.tribe-active:hover,.tribe-events-button.tribe-inactive,.tribe-events-button:hover{color:#fff}
#tribe_events_filters_wrapper h3 span:after{border-top-color:#21759b}#tribe_events_filters_wrapper .tribe_events_filter_item.closed h3 span:after{border-left-color:#21759b}
.tribe-events-adv-list-widget .tribe-events-widget-link a,.tribe-events-back a,.tribe-events-list-widget .tribe-events-widget-link a,ul.tribe-events-sub-nav a{font-size:15px;font-weight:700}
.tribe-events-gcal{margin-right:1.25em}.tribe-events-divider{display:none}.event-is-recurring .tribe-events-divider{display:inline}
.tribe-events-event-image{margin-bottom:1.25em;text-align:left}#tribe-geo-results h2.tribe-events-page-title,h2.tribe-events-page-title{font-size:30px;font-weight:700}
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next a,#tribe-events-header .tribe-events-sub-nav li{display:none}
#tribe-events-header .tribe-events-sub-nav .tribe-events-nav-next{display:block}.events-list #tribe-events-footer,.single-tribe_events #tribe-events-footer,.tribe-events-day #tribe-events-footer,.tribe-events-map #tribe-events-footer,.tribe-events-photo #tribe-events-footer{border-top:1px solid #e5e5e5;padding-top:2em}
.single-tribe_events #tribe-events-header{display:none}.tribe-events-day .tribe-events-day-time-slot h5{font-size:21px;margin:1.5em 0 .25em;padding:6px 10px;background:#e0e0e0;color:#fff;text-align:center;line-height:1}
.tribe-events-list .type-tribe_events{border-bottom:0;padding:1.75em 0;position:relative}
.tribe-events-list .type-tribe_events h2{font-size:1.6em}.tribe-events-list-separator-year{font-size:28px;padding-top:1.25em}
.tribe-events-list-separator-year+.tribe-events-list-separator-month{margin-top:.25em}
.tribe-events-list-separator-month{text-transform:none;font-size:24px;margin:1.25em auto;text-align:center;position:relative;background-color:transparent;z-index:1}
.tribe-events-list-separator-month:after{content:'';border-bottom:1px solid #c2c2c2;height:1px;width:100%;display:block;position:absolute;top:50%;left:0;z-index:-1}
.tribe-events-list-separator-month span{background-color:#fff;padding:0 7.5%}.tribe-events-list-separator-month+.type-tribe_events.tribe-events-first{padding-top:1.5em}
.tribe-events-list .type-tribe_events.tribe-event-end-month{padding-bottom:1.5em}
.tribe-events-loop .tribe-events-event-meta{margin-bottom:1em;font-size:13px}.tribe-events-list .tribe-events-loop .tribe-events-event-meta .recurringinfo{padding-left:0;font-weight:400;vertical-align:top}
.tribe-events-list .time-details,.tribe-events-list .tribe-events-venue-details{line-height:1.2}
.tribe-events-event-meta address.tribe-events-address,.tribe-events-list .tribe-events-venue-details{font-weight:400;font-style:italic}
.tribe-events-event-meta address.tribe-events-address{padding-right:3px}.events-list .tribe-events-loop,.single-tribe_organizer .tribe-events-loop,.single-tribe_venue .tribe-events-loop,.tribe-events-day .tribe-events-loop{max-width:700px;margin:0 auto}
.single-tribe_events h2.tribe-events-single-event-title{font-size:33px}.tribe-events-schedule{margin:1em 0 1.5em}
.single-tribe_events .tribe-events-schedule .tribe-events-divider{display:inline-block;zoom:1;font-weight:400}
.single-tribe_events .tribe-events-schedule .recurringinfo{margin-right:.5em}.single-tribe_events .tribe-events-schedule h3{font-size:18px;margin:0}
.single-tribe_events .tribe-events-cal-links{margin-bottom:1.75em;display:block}.single-tribe_events a.tribe-events-gcal,.single-tribe_events a.tribe-events-gcal:hover,.single-tribe_events a.tribe-events-ical,.single-tribe_events a.tribe-events-ical:hover{background-color:transparent;text-transform:none;font-size:14px;font-weight:700;letter-spacing:0;padding:0;float:none;color:#21759b}
.single-tribe_events .tribe-events-event-image{text-align:left;margin-bottom:1.25em}
.tribe-events-event-schedule-details{margin-right:.5em}.tribe-events-meta-group .tribe-events-single-section-title{font-size:17px}
.single-tribe_events .tribe-events-event-meta{font-size:14px}#tribe-events-content .tribe-events-calendar td{border:1px solid #d2d2d2;border-top:0;-webkit-transition:all .2s cubic-bezier(0.55,0.085,0.68,0.53);-moz-transition:all .2s cubic-bezier(0.55,0.085,0.68,0.53);-ms-transition:all .2s cubic-bezier(0.55,0.085,0.68,0.53);-o-transition:all .2s cubic-bezier(0.55,0.085,0.68,0.53);transition:all .2s cubic-bezier(0.55,0.085,0.68,0.53)}
#tribe-events-content .tribe-events-calendar td:hover{background:#f7f7f7;-webkit-box-shadow:rgba(0,0,0,0.2) 0 0 10px;box-shadow:rgba(0,0,0,0.2) 0 0 10px}
#tribe-events-content .tribe-events-calendar td.tribe-events-othermonth{background:#f9f9f9}
#tribe-events-content .tribe-events-calendar .tribe-events-othermonth:hover{-webkit-box-shadow:none;box-shadow:none}
#tribe-events-content table.tribe-events-calendar{border-bottom:1px solid #d2d2d2;border-top:0}
.tribe-events-calendar div[id*=tribe-events-daynum-],.tribe-events-calendar div[id*=tribe-events-daynum-] a{background-color:#b2b2b2;color:#fff;font-size:12px;font-weight:700}
.tribe-events-calendar div[id*=tribe-events-daynum-] a:hover{color:#666}.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a{background-color:#e0e0e0;color:#fff}
.tribe-events-calendar td.tribe-events-past .tribe-events-month-event-title a,.tribe-events-calendar td.tribe-events-past .tribe-events-viewmore a{opacity:.5;filter:Alpha(opacity=50)}
.recurring-info-tooltip,.tribe-events-calendar .tribe-events-tooltip,.tribe-events-week .tribe-events-tooltip{border:0;background-color:#fff;color:#606060;padding:.75em 1em 1.15em;-webkit-box-shadow:3px 4px 21px rgba(0,0,0,0.38);-moz-box-shadow:3px 4px 21px rgba(0,0,0,0.38);box-shadow:3px 4px 21px rgba(0,0,0,0.38)}
.tribe-events-tooltip .tribe-events-arrow{width:20px;height:7px;background-image:url(../images/tribe-theme/tribe-theme-tooltips.png);-webkit-background-size:37px 20px;background-size:37px 20px;bottom:-7px}
.events-archive.events-gridview #tribe-events-content table .type-tribe_events{border-bottom:1px solid #e0e0e0}
.events-archive.events-gridview #tribe-events-content table .tribe-events-last{border-bottom:0}
.tribe-events-calendar thead th{background-color:#666;color:#fff;font-weight:700;padding:1em 0;white-space:nowrap;border-left:1px solid #666;border-right:1px solid #666}
.tribe-events-calendar td div[id*=tribe-events-daynum-]{padding:4px 9px 6px}#tribe-events-content .tribe-events-tooltip h4{margin:0;background-color:transparent;font-size:18px;padding:0;letter-spacing:0;font-weight:700}
.tribe-events-tooltip .tribe-events-event-body{font-size:11px;padding:0}.tribe-events-tooltip .duration{font-style:normal;font-weight:700;margin:0;padding:.4em 0 .5em}
.tribe-events-tooltip .tribe-events-event-thumb{padding:.85em 1em 0 0}.tribe-events-tooltip p.entry-summary{font-size:13px;padding-top:.5em}
.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper{max-width:700px;margin:0 auto}
.tribe-events-map.tribe-bar-is-disabled #tribe-events-content-wrapper{max-width:none}
@media(min--moz-device-pixel-ratio:2),(-o-min-device-pixel-ratio:2 / 1),(-webkit-min-device-pixel-ratio:2),(min-device-pixel-ratio:2){.tribe-events-tooltip .tribe-events-arrow{background-image:url("../images/tribe-theme/tribe-theme-tooltips@2x.png")}
}