<!DOCTYPE html>
<html>
<head>

    <title>{{ status_text }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ asset('main/img/favicon.png') }}">


    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <!-- Main Stylesheet -->
    <link href="{{ asset('main/css/style.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="full-pager error-page" style="background-position: center bottom;">

<div class="full-pager-wrap">
    <div class="svg-container svg-default default-down abs-top">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 4"
             preserveAspectRatio="none" class="svg">
            <polygon points="0,0  100,0  100,2.5  82,4  0,0" class="poly poly-default"/>
        </svg>
    </div>

    <div class="svg-container svg-dcutter dcutter-down abs-bottom flipX">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 4"
             preserveAspectRatio="none" class="svg">
            <polygon points="0,0  100,0  100,4  95,3.5  80,4  10,0  0,0.5" class="poly poly-default"/>
        </svg>
    </div>

    <div class="full-pager-logo wow fadeInDown" data-wow-delay="0.2s" data-wow-duration="1s">
        <a href="{{ url('homepage') }}" class="logo-editable">
            <span class="logo-sign">
                <img src="{{ asset('main/img/logo-sign.png') }}" alt="Logo Sign">
            </span>
            <span class="logo-text-lg">Máriapócs</span>
            <span class="logo-text-sm">{{ "general.logoline"|trans }}</span>
        </a>
    </div>

    {% block content %}
        <div class="full-pager-content-bar">
            <div class="container">
                <div class="e-message-container f-left wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1s">
                    <h1 class="e-message">{{ "general.error"|trans }}<span> {{ status_code }} </span>{{ status_text }}
                    </h1>
                </div>
                <div class="back-button f-right wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1s">
                    <a href="{{ url('homepage') }}" class="btn-pure">{{ "general.home_page"|trans }}</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {% endblock %}



</div>

<script src="{{ asset('main/js/jquery.js') }}"></script>
<script src="{{ asset('main/js/libs/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ asset('main/js/jquery-migrate.min.js') }}"></script>
<script src="{{ asset('main/js/libs/scrollbar/jquery.mCustomScrollbar.min.js') }}"></script>
<script src="{{ asset('main/js/libs/scrollbar/jquery.mousewheel.min.js') }}"></script>
<script src="{{ asset('main/js/libs/isotope/isotope.js') }}"></script>
<script src="{{ asset('main/js/libs/wow/wow.js') }}"></script>
<script src="{{ asset('main/js/script.js') }}"></script>
</body>
</html>