{% extends '@Twig/Exception/error.html.twig' %}

{% block content %}
    <div class="full-pager-content-bar">
        <div class="container">
            <div class="e-message-container f-left wow fadeInLeft" data-wow-delay="0.2s" data-wow-duration="1s">
                <h1 class="e-message">{{ "general.error"|trans }}<span> 404 </span>{{ "error_page.content_not_found"|trans }}
                </h1>
            </div>
            <div class="back-button f-right wow fadeInRight" data-wow-delay="0.2s" data-wow-duration="1s">
                <a href="{{ url('homepage') }}" class="btn-pure">{{ "general.home_page"|trans }}</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}