{% extends '@AteszworksAdmin/common/layout.html.twig' %}
{% form_theme form '@AteszworksAdmin/form/metronic.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/login.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block headerstack %}{% endblock %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-5">
            {{ form_start(form, {'action': path('ateszworks_admin_login'), 'method': 'POST', 'attr': {'class': 'm-form '}}) }}
            <div class="m-section m-form__section--first">
                <h1 class="m-section__heading">
                    Bejelentkezés
                </h1>
                <div class="m-section__content">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username,{'full_name': '_username'}) }}
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password,{'full_name': '_password'}) }}
                    {{ form_widget(form.login) }}
                </div>

                {% if error %}
                    <div class="alert alert-danger">
                        <strong>Hiba!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>
            {# Fogsz itt szórakozni... #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {{ form_errors(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}