{% extends '@AteszworksAdmin/common/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ateszworksadmin/assets/css/welcome.css') }}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block headerstack %}{% endblock %}

{% block content %}
    <div id="admin-welcome">
        <div class="welcome-message">
            <h1>Üdvözlöm!</h1>
            <p>Üdvözlöm az adminisztrációs felületen!</p>
        </div>
    </div>
{% endblock %}